.partSeparator {height: 10px; clear: both;}

.hr {border-bottom: 1px grey solid;}

form label {cursor: pointer;}

.splashscreen {position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:#CCCCCC;
    background-repeat:no-repeat;
    background-image: url("../img/img16.gif");
    background-position: center ;
    text-align:center;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
}

.line-negative {color: red;}
.line-positive {color: black;}

.disabled {color: #cccccc;}

#violCount {font-size: 20px!important;}

.val {font-weight: 700;}

#geoTree, #violFeed {height: 250px; min-height: 250px; max-height: 250px; overflow-x: hidden; overflow-y: scroll;}
#geoTree .hdr, #violFeed .hdr {font-weight: 700; margin-bottom: 7px;}
#geoTree td, #violFeed td {font-size: 75%; vertical-align: top;}
#geoTree a, #geoTree a:hover, #geoTree a:active {cursor: hand; cursor: pointer; display: block; padding: 0px 0px 2px 2px;}
#geoTree a.selected {background-color: #FFA07A;}
#violFeed span.vhdr {font-style: italic!important; margin-right: 5px;}
#violFeed a, #violFeed a:hover {text-decoration: none; border-bottom: 1px dashed #000080; cursor: hand; cursor: pointer;}