.partSeparator {height: 10px; clear: both;}

.hr {border-bottom: 1px grey solid;}

form label {cursor: pointer;}

.splashscreen {position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:#CCCCCC;
    background-repeat:no-repeat;
    background-image: url("../img/img16.gif");
    background-position: center ;
    text-align:center;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
}

.line-negative {color: red;}
.line-positive {color: black;}

.disabled {color: #cccccc;}

.val {font-weight: 700;}

#selectedPlace {font-weight: 700;}

#vTypes, #violFeed {height: 430px; min-height: 430px; max-height: 430px; overflow-x: hidden; }
#vTypes {overflow-y: auto;}
#violFeed {overflow-y: scroll;}

#violFeed .description {padding-right: 5px;}
#violFeed {background-color: #F0F0F0;}
#vTypes .hdr, #violFeed .hdr {font-weight: 700; margin-bottom: 7px;}
#violFeed .hdr {margin-top: 3px; margin-left: 3px;}
#vTypes td, #violFeed td , #violFeed th {font-size: 75%; vertical-align: top; border: 1px #E0E0E0 solid; border-collapse: collapse;}
#violFeed th {text-align: left;}
#vTypes .data span.val {float: right; font-weight: 700; padding-right: 40px;}

#violFeed span.vhdr {font-style: italic!important; margin-right: 5px;}
#violTypeNone, #violTypeAll, #watchersAll, #violFeed a, #violFeed a:hover {
	text-decoration: none; border-bottom: 1px dashed #000080; cursor: hand; cursor: pointer;
}

#vTypes .selected {background-color: #FFA07A; }

#watchers label, #vTypes label {display: inline; margin-left: 3px; cursor: pointer;}

#watchers .online {
	background-image: url("../img/onlineS.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #98FB98;
}

#watchers input {
	width: 20px;
	display: inline;
}

#averageComment {
	height: 75px; min-height: 75px; max-height: 75px; 
	overflow-y: scroll;
}